{% extends "layout2.html" %}
{% block body %}
  <h1></h1>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<body>
    <br>

    <div style = "text-align: center">
        <h1>
            <strong>

            </strong>
        </h1>
    </div>
    <div style= "text-align: center; border: 4px solid; background-color: white">
    <title>Word Cloud Creator</title>
        <h1>
            <strong>
                Word Cloud Creator!
            </strong>
        </h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div style= "text-align: center; border: 2px solid; background-color: white">
        <h2>The Word Cloud Creator takes data from a word scraper microservice application transforms it into a word cloud.</h2>
        <h2>Click submit to generate a new word cloud based on the current data in this microservice</h2>
    </div>
    <br>
    <br>
        <div style= "text-align: center">
        <p><a href="{{ url_for('wordcloud2') }}"><input type="button" id="mybutton2" style= "font-size: 40px; height: 100px; width: 200px" value="Submit" onclick="{{ url_for('wordcloud2') }}"></a></p>
        <br>
        </div>
    <br>
    <br>
    <div style= "text-align: center">

        <img src="\static\wordCloud.png?updated={DateTime.Now.Ticks}">
        <br>

        <!----------
        <img loading="lazy" scr="\static\wordCloud.png?xxx=5123419" alt = "lazy" />
        <iframe src="\static\wordCloud.png?xxx=5123419" loading="lazy"></iframe>

        Following is old image format
                <img src="\static\wordCloud.png?xxx=5123419">
        -------->
        <br>


    </div>

</body>
</html>


  </div>
</body>
</html>

{% endblock %}